</main>

<footer>
    <p>
        <%= typeof settings !=='undefined' && settings.footer_text ? settings.footer_text : '© ' + new
            Date().getFullYear() + ' Blog Project.' %>
    </p>
</footer>

<script src="/js/main.js"></script>
</body>

</html>